h1{
    font-family: sans-serif;
    text-align: center;
    color: #377ba8;
    background-color: lightblue;
}

form{
    width: 350px;
    padding: 16px;
    border-radius: 10px;
    margin: auto;
    background-color: #ccc;
}

input{
    border-color: black;
}

button{
    background-color: lightblue;;
    border-color: #377ba8;;
}